[user]
    signingkey = /home/ansh/.ssh/id_ed25519.pub
    email = anshraj220109+github@proton.me
    name = Ansh2209
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = /home/ansh/.config/git/allowed_signers
[init]
    defaultBranch = main
[core]
    editor = micro
[pull]
    ff = only
    rebase = true
[push]
    autoSetupRemote = true
[fetch]
    prune = true
[rebase]
    autostash = true
[diff]
    colorMoved = default
    algorithm = histogram
[alias]
    up = !git fetch upstream && git rebase upstream/main
    sync = !git switch main && git fetch upstream && git reset --hard upstream/main && git clean -fd
	b = switch
    unstage = restore --staged
    ac = "!f() { git add ${@:-.} && git commit; }; f"
