[user]
    signingkey = /home/ansh/.ssh/id_ed25519_signing.pub
    name = Ansh2209
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = /home/ansh/.config/git/allowed_signers
[init]
    defaultBranch = main
[core]
    editor = micro
[pull]
    ff = only
    rebase = true
[push]
    autoSetupRemote = true
[fetch]
    prune = true
[rebase]
    autostash = true
[diff]
    colorMoved = default
    algorithm = histogram
[alias]
    sync = !BRANCH=$(git branch --show-current) && git switch main && git fetch upstream && git reset --hard upstream/main && git clean -fdx && git switch $BRANCH
    unstage = restore --staged
    ac = !git add . && git commit
[includeIf "gitdir:~/repos/github/"]
    path = ~/.gitconfig_github
[includeIf "gitdir:~/repos/codeberg/"]
    path = ~/.gitconfig_codeberg
