root = true

# Global
[*]
indent_size = 2
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Python
[*.py]
indent_size = 4

# Rust
[*.rs]
indent_size = 4

# C
[*.c]
indent_size = 4
